name: Deploiement sur vps

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: dinoozz/intra-web-client:latest

    - name: SSH and Deploy
      uses: appleboy/ssh-action@master
      with:
        host: camille-lecoq.com
        username: ubuntu
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd web-client
          docker compose down -v
          docker rmi dinoozz/intra-web-client:latest || true
          docker pull dinoozz/intra-web-client:latest
          docker compose up -d
